* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2f2f2f; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.title {
  font-size: 60px;
  color: #d4af37; 
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 
    0 0 5px rgba(212, 175, 55, 0.5),
    0 0 10px rgba(212, 175, 55, 0.3);
  position: relative;
  margin: 15px;
}

.container {
    text-align: center;
    background-color: #f5f5dc; 
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #d4af37; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
}

.cron {
    color: #2f2f2f; 
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid #d4af37; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    background-color: #000000; 
    color: #d4af37; 
    font-weight: bold;
}

.buttons button:hover {
    background-color: #333333; 
}

@media (max-width: 500px) {

    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .container {
        width: 180px;
        height: 180px;
    }

    .cron {
        font-size: 40px;
    }

    .buttons {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .buttons button {
        width: 120px;
    }
}
